<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.title }}" href="https://kyung.dev/">{{ site.title }}</a>
		</h1>
		<button class="navmenu">
			&horbar;
		</button>
		<div class="menu">
			<div class="center">
				<ul class="tags">
					<li>
						<a href="https://kyung.dev/tags/web.html">WEB
						</a>
					</li>
					<li>
						<a href="https://kyung.dev/tags/publishing.html">Publishing
						</a>
					</li>
					<li>
						<a href="https://kyung.dev/tags/graphic+design.html">Graphic Design
						</a>
					</li>
				</ul>
				<div class="link">
					<a href="https://kyung.dev/about">About</a>
				</div>
				<button class="close">
					&times;
				</button>
			</div>
		</div>
	</div>
</header>
