@mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}


//body * { background-color: rgba(255,0,0,.2); }
//body * * { background-color: rgba(0,255,0,.2); }
//body * * * { background-color: rgba(0,0,255,.2); }
//body * * * * { background-color: rgba(255,0,255,.2); }
//body * * * * * { background-color: rgba(0,255,255,.2); }
//body * * * * * * { background-color: rgba(255,255,0,.2); }
//body * * * * * * * { background-color: rgba(255,0,0,.2); }
//body * * * * * * * * { background-color: rgba(0,255,0,.2); }
//body * * * * * * * * * { background-color: rgba(0,0,255,.2); }