<!DOCTYPE html>
<html lang="ko">

<head>
	<title>{{ site.author }} - {{ page.project.title }}</title>
	{% include head.html %}
</head>

<body>
	{% include header.html %}

	<main>
		<section class="container project">
			<h1>
				<a href="{{ page.project.url }}" target="_blank" title="{{ page.project.title }}" rel="nofollow">{{ page.project.title }}</a>
			</h1>
			<span class="type">{{ page.project.type }}</span>
			<article>
				<ul>
					{% for image in page.images %}
					<li>
						<img src="{{ image.url }}" alt="{{ image.alt }}" />
					</li>
					{% endfor %}
				</ul>
				{{ page.content }}

			</article>
			<aside>
				<div class="project-meta">
					<div>
						<span class="title">Tools</span>
						<p>{{ page.project.tools }}</p>
					</div>
					<div>
						<span class="title">Client</span>
						<p>{{ page.client.title }}</p>
					</div>
					<div>
						<span class="title">Year</span>
						<p>{{ page.project.workingperiod }}</p>
					</div>
				</div>
					<div class="entry-tags">
						<span>Tags:</span> {% for tag in page.tags %}<a href="{{ site.url }}{{ site.baseurl }}/tags/{{ tag | cgi_escape }}.html" title="{{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}
					</div>
			</aside>
		</section>
		<section class="project-navigation">
			<div class="container">
				{% if page.previous and page.previous.categories contains "projects" %}
				<a title="Previous {{ page.previous.project.title }}" href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}" class="prev">
					<span>Previous</span>
					<h3>{{ page.previous.project.title }}</h3>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "projects" %}
				<a title="Next {{ page.next.project.title }}" href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}" class="next">
					<span>Next</span>
					<h3>{{ page.next.project.title }}</h3>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
</body>

</html>
