<!DOCTYPE html>
<html lang="ko">

<head>
	{% include head2.html %}
</head>

<body>
	{% include header.html %}

<main>
	<section class="projects">
		<div class="container">
			<h1>{{ page.tag }} Projects</h1>
			<ul class="projects-list">
				<li class="grid-sizer"></li>
				{% for item in site.tags[page.tag] %}
				<li class="grid-item {{ item.project.title-lang }}">
					<a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">
						<div class="img-wrapper">
							<img src="{{ site.url }}{{ site.baseurl }}{{ item.project.thumbnail }}" alt="{{ item.project.title }}" />
						</div>
						<h3>{{ item.project.title }}</h3>
						<span>{{ item.project.type }}<br />{{ item.project.workingperiod }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>
</main>
	{% include footer2.html %}
</body>

</html>